fastapi>=0.111.0
uvicorn[standard]>=0.29.0
python-dotenv>=1.0.1
./wheels/databricks_sdk-0.97.0-py3-none-any.whl
httpx>=0.27.0
jinja2>=3.1.4
aiofiles>=23.2.1
python-multipart>=0.0.9
./wheels/psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl